body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .navbar {
    height: 80px;
    background-color: #0056b3; 
    color: #fff; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-menu ul {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
}


.sub-navbar {
    background-color: #0056b3; 
    color: #fff; 
    padding: 10px 20px;
}
  

.sub-navbar-nav {
    list-style-type: none;
    display: flex;
}

.sub-navbar-nav li {
    margin-right: 20px;
}

.sub-navbar-nav a {
    color: #fff;
    text-decoration: none;
}

.sub-navbar-nav a.active {
    font-weight: bold;

}
  .tech-stack-section {
    margin: 20px;
    margin-top: 30px;
  }
  
  .tech-stack-section h2 {
    margin-bottom: 10px;
    margin-left: 50px;
  }

  input[type="text"]{
      width: calc(100% - 20px);
      margin-top: 10px;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
      font-size: 18px;
      outline: none;
  }
  
  .tech-stack-input {
    margin-left: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #add-tech-stack-btn,#search-btn{
  margin-left: 50px;
}
  #add-tech-stack-btn,
  #search-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    
    font-size: 16px;
  }
  
  #add-tech-stack-btn:hover,
  #search-btn:hover {
    background-color: #0056b3;
  }
  
  h2{
  
    margin-left: 70px;
  }
  
  
  #result-list {
    margin-top: 30px;
    margin-left: 50px;
  }
  
  .result-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 5px;
  }
  
  .result-item h3 {
    margin-bottom: 5px;
  }
  
  .result-item button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    
    font-size: 16px;
  }
  
  .result-item button:hover {
    background-color: #0056b3;
  }

  .result-item input[type="text"]{
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    
  }
  .result-info {
   
    margin-bottom: 10px;
  }
  
  .result-info h3 {
    margin-bottom: 5px;
  }
  