/* upload_pdf_styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
}

/* Navbar styles */
.navbar {
    height: 80px;
    background-color: #0056b3; /* Dark background */
    color: #fff; /* White text */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-menu ul {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
}
/* Sub Navbar styles */
.sub-navbar {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px;
}

.sub-navbar-nav {
    list-style-type: none;
    display: flex;
}

.sub-navbar-nav li {
    margin-right: 20px;
}

.sub-navbar-nav a {
    color: #fff;
    text-decoration: none;
}

.sub-navbar-nav a.active {
    font-weight: bold;
}

.container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Add border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:350px;
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text */
}

.upload-section {
    text-align: center;
  }
.file-input-wrapper {
    display: inline-block;
    margin-bottom: 10px;
  }

form {
    margin-top: 150px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.intro-section {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text */
  }
  
  .intro-section span {
    font-size: 48px;

    font-weight: bold;
    color: #333;
  }
  
  .intro-section p {
    font-size: 20px;
    margin-top: 10px;
    color: #555;
  }