
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
    margin: 0;
}

.container {
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    margin-top:90px;
}


.navbar {
    height: 80px;
    background-color: #0056b3; 
    color: #fff; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-menu ul {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
}


.sub-navbar {
    background-color: #0056b3; 
    color: #fff; 
    padding: 10px 20px;
}


.sub-navbar-nav {
    list-style-type: none;
    display: flex;
}

.sub-navbar-nav li {
    margin-right: 20px;
}

.sub-navbar-nav a {
    color: #fff;
    text-decoration: none;
}

.sub-navbar-nav a.active {
    font-weight: bold;

}
h2 {
    margin-top:30px;
    margin: 12px;
  }


.left-section {
    border-right: 1px solid #ccc;
    padding-right: 30px;
    width: 50%; /* Set width for left section */
    float: left; /* Float left to align to the left */
    margin-right: 10px; 
    border-radius: 10px;
}

/* Right section styles */
.right-section {
    width: 45%; /* Set width for right section */
    float: right; /* Float right to align to the right */
    margin-left: 10px;
    border-radius: 10px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}



form {
    margin-bottom: 150px;
    margin-top: 20px;
}

label {
    padding-bottom:20px;
    
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    padding-right: 30px;
    background-image: url('arrow-down.svg'); 
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px;
    cursor: pointer;
}
select option[value=""][disabled] {
    color: #999; /* Placeholder color */
}



/* .sub-nav-link.active {
    text-decoration: underline;
} */
